<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
    <groups>
        <run>
            <include name="${group}"> </include>
        </run>
    </groups>
    <listeners>
        <listener class-name="company.utils.ExtentListeners"/>
    </listeners>

    <test name="Automation suite">
        <packages>
            <package name="company.login"/>
            <package name="company.products"/>
        </packages>
    </test>
</suite>
